<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="common_header_left">
            <ul class="nav-left mrg-left-0">
                <li>
                    <a href="/">
                        <div class="logo logo-dark d-none"
                             style="background-image: url('/images/logo/logo_full_dark.png')"></div>
                        <div class="logo logo-white"
                             style="background-image: url('/images/logo/logo_full_white.png')"></div>
                    </a>
                </li>
            </ul>
        </div>
    </body>
</html>
