<html xmlns:th="http://www.thymeleaf.org">
<div class="feed-header padding-15">
    <ul class="list-unstyled list-info">
        <li>
            <img src="/images/default/default_profile.png"
                 th:class="'img-circle thumb-img thumb-img-user-' + ${article.author.id}"
                 alt="" th:id="'thumb-img-' + ${article.id}">
            <div class="info">
                <a href="" th:text="${article.author.nickName}"
                   class="title no-pdd-vertical text-bold inline-block font-size-15"></a>
            </div>
        </li>
        <a class="pointer absolute top-10 right-0" data-toggle="dropdown"
           aria-expanded="false">
                                       <span class="btn-icon text-dark">
                                           <i class="ti-more font-size-16"></i>
                                       </span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a th:id="'article-edit-' + ${article.id}" th:data-id='${article.id}' class="pointer article-edit">
                    <i class="ti-pencil pdd-right-10 text-dark"></i>
                    <span class="">게시글 수정</span>
                </a>
                <a th:id="'article-delete-' + ${article.id}" th:data-id='${article.id}' class="pointer article-delete">
                    <i class="ti-trash pdd-right-10 text-dark"></i>
                    <span class="">게시글 삭제</span>
                </a>
            </li>
        </ul>
    </ul>
</div>
<div class="feed-body no-pdd">
    <img th:id="'article-image-' + ${article.id}" class="img-fluid" src="" alt=""
         style="display: none; width: 100%;">
    <video th:id="'article-video-' + ${article.id}" controls autoplay loop src=""
           style="display: none; width: 100%;">
    </video>
</div>
<ul class="feed-action pdd-horizon-15 pdd-top-5">
    <li>
        <a href="#">
            <i class="fa fa-heart activated-heart font-size-25"></i>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="ti-comment font-size-22"></i>
        </a>
    </li>
    <li>
        <i class="ti-export font-size-22"
           th:onclick="'copyUrl(' + ${article.id} +')'"></i>
    </li>

    <li class="float-right">
        <a href="" class="pdd-right-0">
            <i class="fa fa-bookmark font-size-25"></i>
        </a>
    </li>
</ul>
<div class="feedback-status-container pdd-horizon-15">
    <img class="mini-profile-img" src="/images/default/eastjun_profile.jpg">
    <p class="no-mrg pdd-left-5 d-inline-block">
        <span class="text-bold">eastjun</span>님 외 <span class="text-bold">37</span>명이
        좋아합니다.
    </p>
</div>
<div th:id="'article-contents-' + ${article.id}" class="feed-contents pdd-left-15">
    <p class="contents" th:text="${article.contents}"></p>
    <form style="display: none;">
        <input type="text" th:value="${article.contents}">
        <button type="button">수정</button>
    </form>
</div>
<div class="feed-footer">
    <div class="comment">
       <span class="show-comment">
           댓글 모두 보기
       </span>
        <ul class="list-unstyled list-info pdd-horizon-5">

        </ul>
        <div class="add-comment relative" th:data-article-id='${article.id}'>
            <textarea class="form-control text-dark padding-15" placeholder="댓글 달기..." rows="1"></textarea>
            <div class="absolute top-5 right-0">
                <button class="btn btn-default no-border text-gray comment-save-button">게시</button>
            </div>
        </div>
    </div>
</div>
</html>