<html xmlns:th="http://www.thymeleaf.org">
<header id="header" class="header navbar">
    <div class="header-container max-width-lg mx-auto">
        <ul class="nav-left mrg-left-0 padding-15">
            <li>
                <a href="/" accesskey="q">
                    <img class="logo desktop-view" src="/images/logo/instgram_logo.png">
                </a>
                <div class="width-40px mobile-view overflow-hidden">
                    <img class="logo" src="/images/logo/instgram_logo.png">
                </div>
            </li>
            <li class="search-box mrg-left-20 desktop-view">
                <a class="search-toggle no-pdd-right" href="#" accesskey="s">
                    <i class="search-icon ti-search pdd-right-10 font-size-25"></i>
                    <i class="search-icon-close ti-close pdd-right-10 font-size-25"></i>
                </a>
            </li>
            <li class="search-input desktop-view">
                <input class="form-control mrg-top-0" type="text" placeholder="Search...">
                <div class="advanced-search">
                    <div class="search-wrapper">
                        <div class="pdd-btm-10">
                            <ul id="search-result" class="list-unstyled list-info">
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="nav-right padding-15">
            <li class="">
                <a class="pointer">
                    <i class="ti-eye"></i>
                </a>
            </li>
            <li>
                <a class="pointer" href="/articles/writing">
                    <i class="ti-pencil-alt" accesskey="w"></i>
                </a>
            </li>
            <li>
                <a th:href="@{/users/{nickName}(nickName=${session.sessionUser.nickName})}">
                    <i class="ti-user"></i>
                </a>
            </li>
            <li>
                <a class="pointer" href="/logout" accesskey="t">
                    <i class="ti-lock"></i>
                </a>
            </li>
            <li>
                <a class="pointer" href="" accesskey="d" id="dm-list"
                   data-target="#dm-modal" data-toggle="modal">
                    <i class="ti-email"></i>
                </a>
            </li>
        </ul>
    </div>
</header>
</html>