#checker-board {
    width: 400px;
    height: 400px;
    background-color: #ffffff;
    border: 10px solid rgba(0, 0, 0, 0.65);
    border-radius: 10px;
    position: relative;
    margin: auto;
    margin-top: 18%;
}

.square {
    width: 50px;
    height: 50px;
    float: left;
    cursor: pointer;
}

.square:hover {
    background-color: rgba(218, 0, 69, 1);
}

.dark {
    background-color: rgba(0, 0, 0, 0.25);
}

.light {
    background-color: rgba(255, 255, 255, 0.25);
}

.bishopBlack {
    background-image: url("../images/black_bishop.png");
    background-repeat: no-repeat;
}

.kingBlack {
    background-image: url("../images/black_king.png");
    background-repeat: no-repeat;
}

.knightBlack {
    background-image: url("../images/black_knight.png");
    background-repeat: no-repeat;
}

.pawnBlack {
    background-image: url("../images/black_pawn.png");
    background-repeat: no-repeat;
    z-index: 100;
}

.queenBlack {
    background-image: url("../images/black_queen.png");
    background-repeat: no-repeat;
}

.rookBlack {
    background-image: url("../images/black_rook.png");
    background-repeat: no-repeat;
}

.bishopWhite {
    background-image: url("../images/white_bishop.png");
    background-repeat: no-repeat;
}

.kingWhite {
    background-image: url("../images/white_king.png");
    background-repeat: no-repeat;
}

.knightWhite {
    background-image: url("../images/white_knight.png");
    background-repeat: no-repeat;
}

.pawnWhite {
    background-image: url("../images/white_pawn.png");
    background-repeat: no-repeat;
}

.queenWhite {
    background-image: url("../images/white_queen.png");
    background-repeat: no-repeat;
}

.rookWhite {
    background-image: url("../images/white_rook.png");
    background-repeat: no-repeat;
}






