<!DOCTYPE html>
<html layout:decorator="layout/default"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="head">
    <title>woostagram</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/card.css">
</th:block>

<th:block layout:fragment="content">
    <div>
        <div class="page-container mrg-top-120">
            <div class="main-content">
                <div class="container-fluid max-width-lg mx-auto">
                    <div class="row">
                        <div class="col-lg-7 mx-auto">
                            <div id="cards" class="card widget-feed no-pdd mrg-btm-70">
                                <!-- insert card-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/fetchApi.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
    <script src="/js/article.js"></script>
    <script src="/js/fileLoadApi.js"></script>
    <script src="/js/card.js"></script>
    <script src="/js/template.js"></script>
    <script src="/js/comment.js"></script>
    <script th:inline="javascript">
        (function() {
            const cards = document.getElementById('cards');
            const articleId = [[${articleId}]];

            FETCH_APP.FetchApi().fetchTemplateWithoutBody(`/api/articles/${articleId}`, FETCH_APP.FetchApi().GET,
                (response) => {
                    response.json().then(res => {
                        const template = TEMPLATE_APP.TemplateService().card(res);
                        cards.insertAdjacentHTML('afterbegin', template);
                        articleFileLoad(res.articleFileName, res.articleId);
                        userFileLoad(res.userFileName, res.userId);

                        COMMENT_APP.init();
                    });
                });

            const articleFileLoad = function (articleFileName, articleId) {
                const fileLoader = FILE_LOAD_APP.FileLoadService();
                fileLoader.loadMediaFile(fileLoader, articleFileName, articleId);
            };

            const userFileLoad = function (userFileName, userId) {
                const fileLoader = FILE_LOAD_APP.FileLoadService();
                fileLoader.loadProfileImageFile(fileLoader, userFileName, userId);
            };
        })();

    </script>
</th:block>
</html>