<!DOCTYPE html>
<html layout:decorator="layout/default"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="head">
    <title>woostagram</title>
</th:block>

<th:block layout:fragment="content">
    <div class="page-container mrg-top-120">
        <div class="main-content">
            <div class="container-fluid max-width-lg mx-auto">
                <div class="row">
                    <div class="col-lg-7 mx-auto">
                        <div class="card widget-feed no-pdd mrg-btm-70">
                            <div class="card-block">
                                <form enctype="multipart/form-data" id="save-form" name="saveForm">
                                    <div class="form-group">
                                        <div class="row margin-20">
                                            <img alt=""
                                                 id="article-image"
                                                 src="https://semantic-ui.com/images/wireframe/image.png"
                                                 style="border-radius: 50px" width="100%">
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <label class="btn btn-info" for="file"><b>파일 업로드</b></label>
                                            </div>
                                            <div class="col-md-8">
                                                <input accept="image/*,video/*" class="d-none" id="file" name="file"
                                                       type="file">
                                            </div>
                                        </div>
                                        <hr>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <label class="mrg-top-10 text-dark" for="contents"><b>내용</b></label>
                                            </div>
                                            <div class="col-md-8">
                                            <textarea class="form-control text-bold" form="save-form" id="contents"
                                                      name="contents"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="text-center">
                                        <button class="btn btn-info" id="save-button" type="button">저장</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="/js/fetchApi.js"></script>
<script src="/js/article.js"></script>
</th:block>
</html>
