<!DOCTYPE html>
<html layout:decorator="layout/default"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="head">
    <title>woostagram</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/index.css">
</th:block>

<th:block layout:fragment="content">
    <div>
        <div class="page-container mrg-top-120">
            <div class="main-content">
                <div class="container-fluid max-width-lg mx-auto">
                    <div class="row">
                        <div class="col-lg-7 mx-auto">
                            <button type="button" id="write-article-button" class="btn btn-outline-primary">
                                피드 작성
                            </button>
                            <div id="cards" class="card widget-feed no-pdd mrg-btm-70">
                                <th:block th:include="fragments/card"></th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/article.js"></script>
    <script src="/js/fetchApi.js"></script>
    <script src="/js/fileLoadApi.js"></script>
    <script src="/js/card.js"></script>
    <script th:inline="javascript">
        const fileLoad = function () {
            const fileLoader = FILE_LOAD_APP.FileLoadService();
            fileLoader.loadMediaFile(fileLoader, [[${article.fileInfo.fileName}]], [[${article.id}]]);
        };
        window.addEventListener('DOMContentLoaded', fileLoad);
    </script>
</th:block>
</html>
