<!DOCTYPE html>
<html layout:decorator="layout/default"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="head">
    <title>woostagram</title>
    <link rel="stylesheet" href="/css/card.css">
</th:block>
<th:block layout:fragment="content">
    <div>
        <div class="page-container mrg-top-120">
            <div class="main-content">
                <div class="container-fluid max-width-lg mx-auto">
                    <div class="row">
                        <div class="col-lg-7 mx-auto">
                            <div class="widget-feed no-pdd mrg-btm-70" id="cards">

                            </div>
                            <div id="end"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Keymap Button -->
    <button class="visibility-hidden" type="button" data-toggle="modal" data-target="#keymap" accesskey="/">
    </button>

    <!-- Keymap Modal -->
    <div class="modal fade" id="keymap" tabindex="-1" role="dialog" aria-labelledby="keymapTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="keymapTitle">Keymap</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Shortcut</th>
                            <th scope="col">Reaction</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Alt + /</td>
                            <td>Show Keymap</td>
                        </tr>
                        <tr>
                            <td>Alt + Q</td>
                            <td>Go index page</td>
                        </tr>
                        <tr>
                            <td>Alt + G</td>
                            <td>Login Github</td>
                        </tr>
                        <tr>
                            <td>Alt + T</td>
                            <td>Logout</td>
                        </tr>
                        <tr>
                            <td>Alt + W</td>
                            <td>Write Article(feed)</td>
                        </tr>
                        <tr>
                            <td>Alt + S</td>
                            <td>Focus Search bar</td>
                        </tr>
                        <tr>
                            <td>Alt + D</td>
                            <td>Show DM List</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="liker-list" role="dialog"
         tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" id="modal-head">
                    <h5 class="modal-title text-center text-bold" id="likes"></h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="liker-info">

                </div>
            </div>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="dm-modal" role="dialog"
         tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" id="modal-head-dm">
                    <h5 class="modal-title text-center text-bold">DM 목록</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="dm-info">

                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        const showDmModal = function () {
            /*<![CDATA[*/
            const nickName = /*[[${session.sessionUser.nickName}]]*/;
            /*]]>*/
            const connector = FETCH_APP.FetchApi();
            const ifSucceed = response => {
                response.json().then((res) => {
                    printModal(res);
                })
            };

            connector.fetchTemplateWithoutBody(`/api/followings/${nickName}`, connector.GET, ifSucceed);

            const printModal = res => {
                const modalBody = document.getElementById('dm-info');
                modalBody.innerHTML = "";
                console.log('res', res);
                let dmList = '';
                for (let i = 0; i < res.length; i++) {
                    dmList = dmList + `<div class="content">
                                                        <div onclick="location.href='/chat/${res[i].id}'" class="pointer">
                                                            <div style="float: left; width: 13%;">
                                                                <img class="img-circle height-40px width-40px" src="/images/default/default_profile.png">
                                                            </div>
                                                            <div>
                                                                <div id="nickName-${i}" class="text-bold" style="font-size: medium">${res[i].nickName}</div>
                                                                <div id="userName-${i}" style="font-size: small"> ${res[i].userName}</div>
                                                            </div>
                                                        </div>
                                                   </div>`
                }
                modalBody.insertAdjacentHTML('beforeend', dmList);
            };
        };

        document.getElementById('dm-list').addEventListener('click', showDmModal);
    </script>

</th:block>

<th:block layout:fragment="addScript">
    <script src="/js/index.js"></script>
</th:block>
</html>