<!DOCTYPE html>
<html layout:decorator="layout/default"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="head">
    <title>woostagram</title>
    <link rel="stylesheet" href="/css/card.css">
</th:block>
<th:block layout:fragment="content">
    <div>
        <div class="page-container mrg-top-120">
            <div class="main-content">
                <div class="container-fluid max-width-lg mx-auto">
                    <div class="row">
                        <div class="col-lg-7 mx-auto">
                            <div class="widget-feed no-pdd mrg-btm-70" id="cards">

                            </div>
                            <div id="end"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-group" style="position: fixed; right: 10px; bottom: 10px;">
                <a class="list-group-item list-group-item-secondary" style="font-weight: bold;">DM List</a>
                <div th:each="user : ${users}">
                    <a th:if="${user.id != session.sessionUser.id}" th:href="'/chat/' + ${user.id}"
                       th:text="${user.nickName}" class="list-group-item list-group-item-action"></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Keymap Button -->
    <button class="visibility-hidden" type="button" data-toggle="modal" data-target="#keymap" accesskey="/">
    </button>

    <!-- Keymap Modal -->
    <div class="modal fade" id="keymap" tabindex="-1" role="dialog" aria-labelledby="keymapTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="keymapTitle">Keymap</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Shortcut</th>
                            <th scope="col">Reaction</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Alt + /</td>
                            <td>Show Keymap</td>
                        </tr>
                        <tr>
                            <td>Alt + Q</td>
                            <td>Go index page</td>
                        </tr>
                        <tr>
                            <td>Alt + G</td>
                            <td>Login Github</td>
                        </tr>
                        <tr>
                            <td>Alt + T</td>
                            <td>Logout</td>
                        </tr>
                        <tr>
                            <td>Alt + W</td>
                            <td>Write Article(feed)</td>
                        </tr>
                        <tr>
                            <td>Alt + S</td>
                            <td>Focus Search bar</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="addScript">
    <script src="/js/index.js"></script>
</th:block>
</html>