<!DOCTYPE html>
<html layout:decorator="layout/default"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="head">
    <title>woostagram</title>
    <link rel="stylesheet" href="/css/myFeed.css">
    <link rel="stylesheet" href="/css/card.css">
</th:block>

<th:block layout:fragment="content">
    <div class="page-container mrg-top-120">
        <div class="container-fluid max-width-lg mx-auto">
            <div class="row">
                <div class="col-lg-7 mx-auto">
                    <div class="widget-feed no-pdd mrg-btm-70">
                        <div class="myFeed-header">
                            <div clas="myFeed-info">
                                <div class="user-image items">
                                    <img src="/images/default/default_profile.png"
                                         th:class="'big-thumb-img-user-' + ${feedInfo.user.id}"
                                         alt="">
                                </div>
                                <div class="user-info items">
                                    <div>
                                        <input id="guest" th:value="${session.sessionUser.nickName}" type="hidden">
                                        <span class="user-id mrg-right-10" id="feedOwner"
                                              th:data-id="${feedInfo.user.id}"
                                              th:text="${feedInfo.user.nickName}"></span>
                                        <form th:if="${feedInfo.followRelation.name() == 'FOLLOW'}">
                                            <button class="btn btn-default" id="unfollow">언팔로우</button>
                                        </form>
                                        <form th:if="${feedInfo.followRelation.name() == 'UNFOLLOW'}">
                                            <button class="btn btn-primary" id="follow">팔로우</button>
                                        </form>
                                        <span th:if="${feedInfo.followRelation.name() == 'MINE'}">
                                            <span>
                                            <div class="dropdown">
                                                <a class="pointer active dropdown-toggle" data-toggle="dropdown"
                                                   aria-haspopup="true" aria-expanded="false">
                                                    <i class="ti-settings font-size-25"></i>
                                                </a>
                                                <!--Drop-down-->
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item"
                                                       th:href="@{/users/{userId}/edit(userId=${session.sessionUser.id})}">회원정보 수정</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="/logout">로그아웃</a>
                                                </div>
                                            </div>
                                            </span>
                                        </span>
                                    </div>

                                    <br/>
                                    <div>
                                        <span>게시물</span>
                                        <span class="text-bold mrg-right-20" id="article-count"></span>
                                        <span>팔로워</span>
                                        <span class="pointer text-bold mrg-right-20" data-target="#follow-list"
                                              data-toggle="modal"
                                              id="followers" th:text="${feedInfo.followers}"></span>

                                        <span>팔로잉</span>
                                        <span class="pointer text-bold mrg-right-20" data-target="#follow-list"
                                              data-toggle="modal"
                                              id="followings" th:text="${feedInfo.followings}"></span>
                                    </div>
                                    <br/><br/>
                                    <div>
                                        <span class="user-name" th:text="${feedInfo.user.userName}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="main-content mrg-top-20">
            <div class="container-fluid max-width-lg mx-auto">
                <div class="row">
                    <div class="col-lg-7 mx-auto">
                        <div id="cards">

                        </div>
                        <div id="end"></div>
                        <div class="height-50px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="follow-list" role="dialog"
         tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" id="modal-head">
                    <h5 class="modal-title text-center text-bold" id="follow-relation"></h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="follower-info">

                </div>
            </div>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="liker-list" role="dialog"
         tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center text-bold" id="likes"></h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="liker-info">

                </div>
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="addScript">
    <script src="/js/myFeed.js"></script>
    <script src="/js/comment.js"></script>
</th:block>
</html>
