<!DOCTYPE html>
<html layout:decorator="layout/default"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="head">
    <title>woostagram</title>
    <link rel="stylesheet" href="/css/myFeed.css">
</th:block>

<th:block layout:fragment="content">
    <div class="page-container mrg-top-120">
        <div class="container-fluid max-width-lg mx-auto">
            <div class="row">
                <div class="col-lg-7 mx-auto">
                    <div class="widget-feed no-pdd mrg-btm-70">
                        <div class="myFeed-header">
                            <div clas="myFeed-info">
                                <div class="user-image items">
                                    <img src="https://c6oxm85c.cloudimg.io/cdno/n/q85/https://az617363.vo.msecnd.net/imgmodels/models/MD50000639/akiimaa500699922cd4a1412ddaa432873f29c_thumb.jpg"
                                         alt="">
                                </div>
                                <div class="user-info items">
                                    <div>
                                        <input id="guest" type="hidden" th:value="${session.sessionUser.nickName}">
                                        <span id="feedOwner" class="user-id mrg-right-10" th:text="${feedInfo.user.nickName}"></span>
                                        <form th:if="${feedInfo.followRelation.name() == 'FOLLOW'}">
                                            <button id="unfollow" class="btn btn-default">언팔로우</button>
                                        </form>
                                        <form th:if="${feedInfo.followRelation.name() == 'UNFOLLOW'}">
                                            <button id="follow" class="btn btn-primary">팔로우</button>
                                        </form>
                                            <span th:if="${feedInfo.followRelation.name() == 'MINE'}">
                                            <button class="btn btn-default text-bold mrg-right-10">프로필 편집</button>
                                            <span>
                                            <div class="dropdown">
                                                <a class="pointer active dropdown-toggle" data-toggle="dropdown"
                                                   aria-haspopup="true" aria-expanded="false">
                                                    <i class="ti-settings font-size-25"></i>
                                                </a>
                                                <!--Drop-down-->
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item"
                                                       th:href="@{/users/{userId}/edit(userId=${session.sessionUser.id})}">회원정보 수정</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="/logout">로그아웃</a>
                                                </div>
                                            </div>
                                            </span>
                                        </span>
                                    </div>

                                    <br/>
                                    <div>
                                        <span>게시물</span>
                                        <span class="text-bold mrg-right-20"
                                              th:text="${feedInfo.articles.size()}"></span>
                                        <span>팔로워</span>
                                        <span id="followers" class="text-bold mrg-right-20" th:text="${feedInfo.followers}"
                                              data-toggle="modal" data-target="#follow-list"></span>

                                        <span>팔로잉</span>
                                        <span id="followings" class="text-bold mrg-right-20" th:text="${feedInfo.followings}"
                                              data-toggle="modal" data-target="#follow-list"></span>
                                    </div>
                                    <br/><br/>
                                    <div>
                                        <span class="user-name" th:text="${feedInfo.user.userName}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <ul class="nav nav-tabs" style="text-align: center;">
            <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
        <div class="main-content mrg-top-20">
            <div class="container-fluid max-width-lg mx-auto">
                <div class="row">
                    <div class="col-lg-7 mx-auto">
                        <button type="button" id="write-article-button" class="btn btn-outline-primary"
                                accesskey="w">피드 작성
                        </button>
                        <div id="cards" th:each="article : ${feedInfo.articles}" class="card widget-feed no-pdd mrg-btm-70">
                            <th:block th:include="fragments/card"></th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="follow-list" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="modal-head" class="modal-header">
                    <h5 class="modal-title text-center text-bold" id="follow-relation"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="follower-info" class="modal-body">

                </div>
            </div>
        </div>
    </div>

<!--    // todo 이거 두개 없으면 파일 안보임-->
    <script src="/js/fetchApi.js"></script>
    <script src="/js/fileLoadApi.js"></script>
    <script th:inline="javascript">
        // TODO 무한 스크롤로 변경 시 이동
        const articles = [[${feedInfo.articles}]];

        for (let i = 0; i < articles.length; i++) {
            const articleId = articles[i].id;
            const articleFileName = articles[i].fileInfo.fileName;

            const fileLoader = FILE_LOAD_APP.FileLoadService();

            fileLoader.loadMediaFile(fileLoader, articleFileName, articleId);
        }
    </script>
</th:block>
</html>
