<!DOCTYPE html>
<html layout:decorator="layout/default"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="head">
    <title>woostagram</title>
    <link rel="stylesheet" href="/css/myFeed.css">
</th:block>

<th:block layout:fragment="content">
    <div class="page-container mrg-top-120">
        <div class="container-fluid max-width-lg mx-auto">
            <div class="row">
                <div class="col-lg-7 mx-auto">
                    <div class="widget-feed no-pdd mrg-btm-70">
                        <div class="myFeed-header">
                            <div clas="myFeed-info">
                                <div class="user-image items">
                                    <img src="https://c6oxm85c.cloudimg.io/cdno/n/q85/https://az617363.vo.msecnd.net/imgmodels/models/MD50000639/akiimaa500699922cd4a1412ddaa432873f29c_thumb.jpg"
                                         alt="">
                                </div>
                                <div class="user-info items">
                                    <div>
                                        <span class="user-id">insta_bug_</span>&nbsp;&nbsp;
                                        <input type="button" value="프로필 편집">
                                        <img class="edit-button"
                                             src="https://img.lovepik.com/element/40038/8211.png_860.png"
                                             alt="edit button">
                                    </div>
                                    <br/>
                                    <div>
                                        <span>게시물283</span>
                                        <span>팔로워2</span>
                                        <span>팔로우501</span>
                                    </div>
                                    <br/><br/>
                                    <div>
                                        <span class="user-name">kim_gorae</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <ul class="nav nav-tabs" style="text-align: center;">
            <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
        <div class="main-content">
            <div class="container-fluid max-width-lg mx-auto">
                <div class="row">
                    <div class="col-lg-7 mx-auto">
                        <div class="card widget-feed no-pdd mrg-btm-70">
                            <div class="feed-header padding-15">
                                <ul class="list-unstyled list-info">
                                    <li>
                                        <img class="thumb-img img-circle" src="images/default/eastjun_profile.jpg"
                                             alt="">
                                        <div class="info">
                                            <a href=""
                                               class="title no-pdd-vertical text-bold inline-block font-size-15">준의게시물</a>
                                        </div>
                                    </li>
                                    <a class="pointer absolute top-10 right-0" data-toggle="dropdown"
                                       aria-expanded="false">
                                        <span class="btn-icon text-dark">
                                            <i class="ti-more font-size-16"></i>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="pointer">
                                                <i class="ti-trash pdd-right-10 text-dark"></i>
                                                <span class="">게시글 삭제</span>
                                            </a>
                                        </li>
                                    </ul>
                                </ul>
                            </div>
                            <div class="feed-body no-pdd">
                                <img class="img-fluid" src="images/default/sample_img_02.jpg" alt="">
                            </div>
                            <ul class="feed-action pdd-horizon-15 pdd-top-5">
                                <li>
                                    <a href="">
                                        <i class="fa fa-heart-o font-size-25"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="ti-comment font-size-22"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="ti-export font-size-22"></i>
                                    </a>
                                </li>
                                <li class="float-right">
                                    <a href="" class="pdd-right-0">
                                        <i class="fa fa-bookmark-o font-size-25"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="feedback-status-container pdd-horizon-15">
                                <img class="mini-profile-img" src="images/default/eastjun_profile.jpg">
                                <p class="no-mrg pdd-left-5 d-inline-block">
                                    <span class="text-bold">준의게시물</span>님 외 <span class="text-bold">37</span>명이 좋아합니다.
                                </p>
                            </div>
                            <div class="feed-footer">
                                <div class="comment">
                                    <ul class="list-unstyled list-info pdd-horizon-5">
                                        <li class="comment-item no-pdd">
                                            <div class="info pdd-left-15 pdd-vertical-5">
                                                <a href=""
                                                   class="title no-pdd-vertical text-bold inline-block font-size-15">brown2</a>
                                                <span class="font-size-14">안돌 어디갔다 온거였지?</span>
                                                <p>
                                                    우테코 1기 단체 사진 드디어 촬영!!!
                                                    래밸 1 방학식
                                                </p>
                                                <p>
                                                    <a href="" class="hashtag">#우테코1기</a>
                                                    <a href="" class="hashtag">#베스트커플상</a>
                                                </p>
                                                <time class="font-size-8 text-gray d-block">12시간 전</time>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="add-comment relative">
                                        <textarea rows="1" class="form-control text-dark padding-15"
                                                  placeholder="댓글 달기..."></textarea>
                                        <div class="absolute top-5 right-0">
                                            <button class="btn btn-default no-border text-gray">게시</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card widget-feed no-pdd mrg-btm-70">
                            <div class="feed-header padding-15">
                                <ul class="list-unstyled list-info">
                                    <li>
                                        <img class="thumb-img img-circle" src="images/default/eastjun_profile.jpg"
                                             alt="">
                                        <div class="info">
                                            <a href=""
                                               class="title no-pdd-vertical text-bold inline-block font-size-15">준의게시물</a>
                                        </div>
                                    </li>
                                    <a class="pointer absolute top-10 right-0" data-toggle="dropdown"
                                       aria-expanded="false">
                                        <span class="btn-icon text-dark">
                                            <i class="ti-more font-size-16"></i>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="pointer">
                                                <i class="ti-trash pdd-right-10 text-dark"></i>
                                                <span class="">게시글 삭제</span>
                                            </a>
                                        </li>
                                    </ul>
                                </ul>
                            </div>
                            <div class="feed-body no-pdd">
                                <img class="img-fluid" src="images/default/sample_img_01.jpg" alt="">
                            </div>
                            <ul class="feed-action pdd-horizon-15 pdd-top-5">
                                <li>
                                    <a href="">
                                        <i class="fa fa-heart activated-heart font-size-25"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="ti-comment font-size-22"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="ti-export font-size-22"></i>
                                    </a>
                                </li>
                                <li class="float-right">
                                    <a href="" class="pdd-right-0">
                                        <i class="fa fa-bookmark font-size-25"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="feedback-status-container pdd-horizon-15">
                                <img class="mini-profile-img" src="images/default/eastjun_profile.jpg">
                                <p class="no-mrg pdd-left-5 d-inline-block">
                                    <span class="text-bold">eastjun</span>님 외 <span class="text-bold">37</span>명이 좋아합니다.
                                </p>
                            </div>
                            <div class="feed-footer">
                                <div class="comment">
                                    <ul class="list-unstyled list-info pdd-horizon-5">
                                        <li class="comment-item no-pdd">
                                            <div class="info pdd-left-15 pdd-vertical-5">
                                                <a href=""
                                                   class="title no-pdd-vertical text-bold inline-block font-size-15">brown2</a>
                                                <span class="font-size-14">안돌 어디갔다 온거였지?</span>
                                                <time class="font-size-8 text-gray d-block">12시간 전</time>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="add-comment relative">
                                        <textarea rows="1" class="form-control text-dark padding-15"
                                                  placeholder="댓글 달기..."></textarea>
                                        <div class="absolute top-5 right-0">
                                            <button class="btn btn-default no-border text-gray">게시</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>
