<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <!-- include fragments/head -->
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<div class="app">
    <div class="header navbar bg-transparent no-border">
        <div class="header-container pdd-right-15">
            <ul class="nav-left mrg-left-0">
                <li>
                    <a href="/">
                        <div class="logo logo-dark d-none" style="background-image: url('/images/logo/logo_full_dark.png')"></div>
                        <div class="logo logo-white" style="background-image: url('/images/logo/logo_full_white.png')"></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="authentication">
        <div class="sign-in-2">
            <div class="container-fluid no-pdd-horizon overlay-dark bg" style="background-image: url('/images/default/bg.jpg')">
                <div class="row">
                    <div class="col-md-10 mr-auto ml-auto">
                        <div class="row">
                            <div class="mr-auto ml-auto full-height height-100 d-flex align-items-center">
                                <div class="vertical-align full-height">
                                    <div class="table-cell">
                                        <div class="card min-width-480px">
                                            <div class="card-body">
                                                <div class="pdd-horizon-30 pdd-vertical-30">
                                                    <div class="mrg-btm-30">
                                                        <h2 class="text-center text-dark no-mrg-vertical mrg-btm-15">회원가입</h2>
                                                    </div>
                                                    <div th:if="${error}" th:text="${message}" class="alert alert-danger" role="alert"></div>
                                                    <form method="post" th:action="@{/users}" th:object="${userDto}" id="signup-form">
                                                        <div class="form-group">
                                                            <label class="text-normal text-dark">Username</label>
                                                            <input type="text" name="name" class="form-control" th:field="*{name}" autofocus
                                                                   required pattern="[a-zA-Z가-힣]{1,}" minlength="2" maxlength="10">
                                                            <small class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="text-normal text-dark">Email Address</label>
                                                            <input type="email" id="email" name="email" class="form-control" th:field="*{email}" required>
                                                            <small class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                                                            <small class="text-danger" id="email-error-message"></small>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="text-normal text-dark">Password</label>
                                                            <input type="password" name="password" id="password" class="form-control" th:field="*{password}" placeholder="Password"
                                                                   required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[@$!%*?&])[A-Za-z\\d@$!%*?&]{8,}" minlength="8">
                                                            <small class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="text-normal text-dark">Confirm Password</label>
                                                            <input type="password" id="password-confirm" class="form-control" placeholder="Password">
                                                            <small class="text-danger" id="password-error-message"></small>
                                                        </div>
                                                        <div class="form-group">
                                                            <button type="button" class="btn btn-info btn-block border-radius-6 font-size-16 text-white" onclick="checkPasswordConfirm()">가입하기</button>
                                                        </div>
                                                    </form>
                                                    <div class="text-dark">
                                                        <span>이미 회원이신가요?</span>
                                                        <a href="/login" class="text-info pointer mrg-left-5">로그인</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function checkPasswordConfirm() {
        var password = document.getElementById("password").value;
        var passwordConfirm = document.getElementById("password-confirm").value;
        var errorMessage = document.getElementById("password-error-message");

        if (password === passwordConfirm) {
            document.getElementById("signup-form").submit();
        } else {
            errorMessage.innerText = "동일한 비밀번호를 입력하세요.";
        }
    }
</script>
<!-- include fragments/footer -->
<th:block th:replace="fragments/common_script"></th:block>
</body>
</html>
