<!DOCTYPE html>
<html layout:decorator="layout/default"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="head">
    <title>woostagram</title>
</th:block>

<th:block layout:fragment="content">

    <div class="page-container mrg-top-80">
        <form>
            <input name="_method" type="hidden" value="put"/>
            <div class="container-fluid max-width-lg mx-auto mrg-btm-30 padding-30">
                <div class="row">
                    <div class="col-md-9 mx-auto">
                        <div class="card">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-md-3 mrg-left-15">
                                        <label class="pointer" for="img-upload">
                                            <img alt=""
                                                 id="profile-image"
                                                 src="/images/default/default_profile.png"
                                                 width="70" style="border-radius: 50px">
                                        </label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="font-size-20"><b th:text="${user.nickName}">Nick Name</b></div>
                                        <label class="mrg-top-5 pointer text-bold" for="img-upload"
                                               style="color:dodgerblue;">프로필 사진 바꾸기</label>
                                        <input class="d-none" id="img-upload" name="uploadedimages0"
                                               accept="image/*"
                                               type="file">
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="mrg-top-10 text-dark"><b>이름</b></label>
                                    </div>
                                    <div class="col-md-8">
                                        <input id="user-name" class="form-control text-bold" name="name"
                                               th:value="${user.userName}" minlength="2" maxlength="10" required>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="mrg-top-10 text-dark"><b>닉네임</b></label>
                                    </div>
                                    <div class="col-md-8">
                                        <input id="nick-name" class="form-control text-bold" name="nickName" type="text"
                                               th:value="${user.nickName}" minlength="2" maxlength="10" required>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="mrg-top-10 text-dark"><b>웹 사이트</b></label>
                                    </div>
                                    <div class="col-md-8">
                                        <input id="webSite" class="form-control text-bold" name="usersite" type="text"
                                               th:value="${user.webSite}">
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="mrg-top-10 text-dark"><b>소개</b></label>
                                    </div>
                                    <div class="col-md-8">
                                        <textarea id="intro" class="form-control text-bold" name="intro" type="text"
                                                  th:text="${user.intro}"></textarea>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="mrg-top-10 text-dark"><b>비밀번호</b></label>
                                    </div>
                                    <div class="col-md-8">
                                        <input id="password" class="form-control text-bold" name="password"
                                               type="password"
                                               th:value="${user.password}" minlength="4" maxlength="16" required>
                                    </div>
                                </div>
                                <hr>
                                <input type="hidden" id="userId" th:value="${user.id}">
                                <div class="text-center">
                                    <button id="editButton" class="btn btn-info mrg-top-20 bottom-5">수정</button>
                                    <button class="btn btn-danger mrg-top-20 bottom-5" data-toggle="modal"
                                            data-target="#exampleModal" onclick="return false;">삭제
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">회원 탈퇴</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    정말 삭제하시겠습니까?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    <button id="deleteButton" type="button" class="btn btn-danger">삭제</button>
                </div>
            </div>
        </div>
    </div>

</th:block>
</html>